// Added jsx-quotes and react/jsx-quotes to remove deprecation warning ("The react/jsx-quotes rule is deprecated. Please use the jsx-quotes rule instead.")
{
  "env": {
    "jasmine": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-quotes": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "max-len": 0,
    "prefer-template": 0,
    "no-multiple-empty-lines": 0
  }
}
