// Added jsx-quotes and react/jsx-quotes to remove deprecation warning ("The react/jsx-quotes rule is deprecated. Please use the jsx-quotes rule instead.")
{
  "env": {
    "jasmine": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": [2, 80, 2, {
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "no-multiple-empty-lines": [2, {
      "max": 1,
      "maxEOF": 1
    }]
  }
}
